body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    background: #f4f4f4;
}

/* Header styling */
header {
    background: #2874f0;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-grow: 1;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 70%;
}

.search-bar button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.login-cart {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-cart a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2874f0;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s;
    z-index: 999;
}

.sidebar.active {
    left: 0;
}

.sidebar .close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.sidebar h2 {
    margin-top: 0;
    color: #fff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

/* Main content styling */
.main-content {
    margin-top: 80px;
    padding: 20px;
}

/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.social-media a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 10px;
}
